extends ../layout/common
block content

  if(users.length>1)
    h1 ListUser
    a.btn.btn-success(href="/users/create") New
    hr
    style.
      th,td{
      border: 1px soild black;
      text-align:center;
      }
      table{
        width: 500px;
      }
      img {border-radius: 50%; box-sizing: border-box}
    table.table
          tr
            th Name
            th Avatar
            th Age  
            th UPDATE
            th DELETE
          each user in users   
            tr
              td=user.name
              td
                img(src=user.avatarUrl width="48" height="48")
              td=user.age
              td
                a.btn.btn-ligth(href="/users/"+user.id+"/update") Update
              td
                a.btn.btn-ligth(href="/users/"+user.id+"/delete") Remove
  else
    h1 Profile
    a.btn.btn-success(href="/users/profile") Update
    hr
    style.
        span{
            font-size: 20px;
            font-family: fantasy
        }
        .block{width: 100%;display:flex}
        .image{width: 25%}
        img{
            max-width: 100%;
            height:auto;
        }
        //- input{display:none}
        .content{width: 50%}
    each user in users   
        .block
            .image
                img.mr-5(src=user.avatarUrl width="200px", height="200px")
            .content
                span Name:
                span=user.name
                br
                span Age:      
                span=user.age
  